@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: robotoSlab
;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  margin: -0.5rem;
  margin-bottom: 1.5rem;
}

.header-container {
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin-left: 1.7rem;
}

.header-left {
  display: flex;
  align-items: center;
  font-family: Montserrat;
}

.header-title {
  color: #0290ff;
  font-weight: bold;
  font-size: 1.9rem;
}

.link {
  color: #121212;
  font-size: 1rem;
  padding-left: 2.5rem;
  text-decoration: none;
  letter-spacing: 1.9px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-container {
  display: flex;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: .5rem;
  padding-left: 1.7rem;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book-details {
  width: 33%;
}

.title {
  color: #121212;
  font-size: 1.4rem;
  margin: 2rem 0 -1rem 0;
  text-transform: capitalize;
  font-family: RobotoSlab;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.author {
  font-size: 1rem;
  color: #4386bf;
  text-transform: capitalize;
  font-family: RobotoSlab;
  font-weight: 300;
}

.btn-container {
  display: flex;
  justify-content: start;
  width: 22%;
  gap: 1rem;
}

.btn-remove {
  color: #4386bf;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border: 1px solid;
  margin-left: -.5rem;
  border: none;
}

.horizon-border {
  width: 0.125rem;
  height: 1.3rem;
  border: solid 1px #e8e8e8;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.progress {
  margin-right: 0.7rem;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #ddd;
}

.meter {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 360;
  stroke-dashoffset: 190;
  stroke: #307bbe;
  animation: progress-1 1s ease-out;
}

.percent {
  color: #121212;
  font-family: Montserrat;
  font-size: 2rem;
}

.complete {
  margin-top: -1.4rem;
  color: #908e8e;
  font-size: 1rem;
}

.update {
  display: flex;
  align-items: center;
}

.horizontal-line {
  height: 60%;
  width: 25%;
  border-left: 2px solid #d1d0d0;
}

.current {
  width: 150%;
  margin-top: 2rem;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  color: #121212
}

.chapter {
  width: 150%;
  margin-top: -0.7rem;
  color: #121212;
  font-size: 1rem;
  font-family: RobotoSlab;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.btn-chapter {
  border-radius: 3px;
  padding: 0.6rem 1rem;
  margin-bottom: 1.5rem;
  width: 130%;
  background-color: #0290ff;
  color: #fff;
  border: solid 1px #e8e8e8;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
}

.form {
  padding-left: 1.7rem;
  width: 80%;
  margin-bottom: 15rem;
}

.vertical-line {
  width: 100%;
  margin: 1rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #e8e8e8;
}

.heading {
  color: #908e8e;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.input {
  width: 43%;
  margin-right: 2rem;
  font-size: 1rem;
  padding: 1rem;
  border: solid 1px #e8e8e8;
  font-family: Montserrat;
  letter-spacing: -0.15px;
  color: #121212;
}

.input-a {
  width: 28%;
  font-size: 1rem;
  padding: 1rem;
  border: solid 1px #e8e8e8;
  font-family: Montserrat;
  letter-spacing: -0.15px;
  color: #121212;
}

.btn {
  padding: 1rem;
  width: 15%;
  margin-left: 2rem;
  border-radius: 0.5rem;
  background-color: #0290ff;
  color: #fff;
  border: solid 1px #e8e8e8;
  font-family: RobotoSlab;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 3px;
}
